@use "src/styles/variables";

$info_icon_size: 30px;
$info_height: 150px;

.wrapper {
  position: absolute;
  right: 30px;
  top: 30px;

  .info {
    position: relative;
    display: flex;
    height: $info_icon_size;
    width: $info_icon_size;
    border-radius: $info_icon_size / 2;
    transition: all variables.$duration;
    overflow: scroll;

    svg {
      position: absolute;
      right: $info_icon_size / 2;
      top: $info_icon_size / 2;
      transform: translate(50%, -50%);
    }

    p {
      height: $info_height - $info_icon_size;
      margin-top: $info_icon_size;
      opacity: 0;
      transition: all variables.$duration;
    }

    &:hover {
      height: $info_height;
      width: 200px;
      padding: 0 10px 10px;

      p {
        opacity: 1;
      }
    }
  }
}
