@use "src/styles/variables";

$menu_icon_size: 50px;

.wrapper {
  position: absolute;
  left: 30px;
  top: 30px;

  .body {
    display: flex;
    flex-direction: column;
    border-radius: $menu_icon_size / 2;

    .menuBtnCheck {
      display: none;

      &:checked {
        & ~ .menuBtn span {
          background-color: rgba(255, 255, 255, 0);

          &::before {
            bottom: 0;
            transform: rotate(45deg);
          }

          &::after {
            top: 0;
            transform: rotate(-45deg);
          }
        }

        & ~ .menu {
          width: 200px;
          height: 50vh;
          padding: 0 10% 10px;
          opacity: 1;
        }
      }
    }

    .menuBtn {
      display: flex;
      height: $menu_icon_size;
      width: $menu_icon_size;
      justify-content: center;
      align-items: center;

      span, ::before, ::after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        position: absolute;
        background-color: black;
        transition: all variables.$duration;
      }

      span {
        &::before {
          bottom: 8px;
        }

        &::after {
          top: 8px;
        }
      }
    }

    .menu {
      width: 0;
      height: 0;
      padding: 0 10%;
      opacity: 0;
      transition: all variables.$duration;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .patternGroup {
        .pattern {
          margin-top: 10px;

          input {
            display: none;

            &:checked + label {
              text-shadow: 0 0 10px red;
            }
          }

          label {
            cursor: pointer;
          }
        }
      }
    }
  }
}
