.wrapper {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);

  .controller {
    position: relative;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;

    button {
      &:not(:first-child) {
        margin-left: 20px;
      }

      * {
        font-size: 20px;
      }
    }
  }
}
